/* #region - setup snippets */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion - setup snippets */

/* #region re-set styles */
html {
    font-size: 125%;
    background: var(--backgroundColor);
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1080px;
    width: var(--wrapperWidth);
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
button,
input,
textarea,
select {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* #endregion re-set styles */

/* #region - variables */
:root {
    /* colors */
    --backgroundColor: tomato;
    --backgroundColorDesat: #d18375;
    --darkNeutral: #050404;
    --darkNeutralOpacity: rgba(5, 4, 4, 0.3);
    --midAccent: #e6b86a;
    --midAccentOpacity: rgba(230, 184, 106, 0.3);
    --darkAccent: #720308;
    --darkAccentOpacity: rgba(114, 3, 8, 0.5);
    --lightAccent: #fff3e4;

    /* to be redefined */
    --gradientBaseVar: #fff3e4;
    --gradientChangeVar: #88181e;

    /* fonts */
    --headingFont: 'Limelight', cursive;
    --mainFont: 'Merriweather', serif;
    /* sizes */
    --wrapperWidth: 80%;
    --movieWidth: 265px;
    --headerHeight: calc(var(--mainHeaderFontSize) + 0.8rem);
    --headerMargin: calc(var(--headerHeight) + var(--subHeaderHeight));
    --subHeaderHeight: 1.5rem;
    --paddingGap: 30px;
    --formWidth: 95%;
    --subHeadingMargin: 4px;
    --bottomNavHeight: 50px;
    --switchWidth: 75px;
    --mainHeaderFontSize: 2.2rem;
}

/* #endregion - variables */

/* #region - fonts and sizes */
.main-title {
    font-size: var(--mainHeaderFontSize);
    color: var(--darkNeutral);
    padding: 0;
}

h1,
h3,
h4,
legend,
button,
a {
    font-family: var(--headingFont);
}

h2,
p,
input,
label,
div,
select {
    font-family: var(--mainFont);
}

h3 {
    line-height: 1.4rem;
}

a {
    font-size: 1rem;
}

p,
select {
    font-size: 0.8rem;
    line-height: 1rem;
}

/* #endregion - fonts and sizes */

.make-display-none {
    display: none !important;
}

.stop-scroll {
    overflow: hidden;
}

.disabled {
    opacity: 0.2;
}

/* #region - header */
header {
    /* display: flex; */
    background: var(--lightAccent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerMargin);
    z-index: 10;
}

.main-heading {
    height: var(--headerHeight);
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}

.find-movie-button figure,
.trending-button figure {
    display: flex;
    align-self: center;
}

.heading-container h2 {
    font-size: 1.2rem;
    color: var(--darkNeutral);
}

/* #region - underline animation */
.hover-animation {
    display: inline-block;
    position: relative;
    color: var(--darkAccent);
    align-self: center;
    cursor: pointer;
}

.hover-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.heading-container .hover-animation::after {
    background-color: var(--darkAccent);
}

.dropdown-menu .hover-animation::after,
.trending-button .hover-animation::after {
    background-color: var(--midAccent);
}

/* #endregion - underline animation */

/* #region - gradient animation */
.hover-animation {
    background: linear-gradient(to right, var(--gradientChangeVar), var(--gradientChangeVar) 50%, var(--gradientBaseVar) 50%);
    fill: linear-gradient(to right, var(--gradientChangeVar), var(--gradientChangeVar) 50%, var(--gradientBaseVar) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    /* webkit-text-fill not working in safari */
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease;
    text-decoration: none;
}

.hover-animation:hover,
.hover-animation:active,
.hover-animation:focus,
.hover-animation:focus-within,
.heading-container:focus-within .hover-animation {
    background-position: 0 100%;
}

.main-title:hover {
    color: var(--darkAccent);
    cursor: pointer;
}

.heading-container .hover-animation {
    /* re-define colors */
    --gradientBaseVar: var(--darkNeutral);
    --gradientChangeVar: var(--darkAccent);
}

.trending-button .hover-animation,
.dropdown-menu .hover-animation {
    /* re-define colors */
    --gradientBaseVar: var(--midAccent);
    --gradientChangeVar: var(--lightAccent);
}

/* x button */
.form-nav .x-button:hover .lines,
.form-nav .x-button:active .lines,
.form-nav .x-button:focus .lines {
    background: var(--lightAccent);
}

.form-bottom button:hover,
.form-bottom button:active,
.form-bottom button:focus {
    background: var(--lightAccent);
    cursor: pointer;
}

.radio-button-container:hover label,
.radio-button-container:active label,
.radio-button-container:focus-within label {
    color: var(--midAccent);
    cursor: pointer;
}

/* #endregion - gradient animation */
li:focus {
    outline: none;
}

.header-buttons-container {
    display: flex;
    width: 50%;
    height: calc(var(--headerHeight) / 1.5);
    justify-content: flex-end;
    align-items: center;
    column-gap: 5%;
}

.find-movie-button {
    height: 100%;
    cursor: pointer;
    padding-right: 10px;
}

.find-movie-button svg {
    fill: var(--darkAccent);
    align-self: center;
    width: 1.5rem;
}

.arrow-up {
    transform: rotate(180deg);
}

.result-container {
    display: flex;
    height: var(--subHeaderHeight);
    align-items: center;
    background: var(--darkNeutral);
}

.result-heading-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 0;
}

.trending-button .result-heading {
    color: var(--midAccent);
    align-self: center;
}

.trending-button figure svg {
    fill: var(--midAccent);
    width: 1.5rem;
}

.trending-button:hover figure svg {
    fill: var(--backgroundColor);
}

/* hover */
.find-movie-button:hover h2,
.find-movie-button:active h2,
.find-movie-button:focus h2 {
    color: var(--darkAccent);
}

.find-movie-button:hover svg,
.find-movie-button:active svg,
.find-movie-button:focus-within svg {
    fill: var(--backgroundColor);
}

.load-button-container button:hover svg,
button:focus svg {
    fill: var(--darkAccent);
}

.load-button-container button:active svg {
    fill: var(--darkAccentOpacity);
}

.disabled-button {
    fill: var(--midAccentOpacity) !important;
    color: var(--midAccentOpacity) !important;
    cursor: default !important;
}

.load-button-container h3 {
    text-align: center;
    color: var(--darkAccent);
}

.forward-button,
.back-button {
    cursor: pointer;
}

.message-container {
    display: flex;
    height: calc(100vh - ((var(--headerHeight) * 2) + var(--headerMargin)));
    width: 100%;
    align-items: center;
    justify-content: center;
}

.message-container h3 {
    color: var(--darkNeutral);
}

/* toggle switch */
/* #region - toggle switch */
.toggle-state-text {
    display: flex;
    color: var(--lightAccent);
}

.toggle-button-container {
    display: flex;
    position: relative;
    height: 85%;
    min-width: 85px;

    background-color: var(--darkNeutral);
    border-radius: 10%;
    justify-content: space-around;
    padding: 0;
    cursor: pointer;
}

.slider {
    display: flex;
    position: absolute;
    background-color: var(--backgroundColor);
    border-radius: 10%;
    width: 43%;
    height: 80%;
    top: 10%;
    z-index: 0;
    transition: left 0.5s linear;
}

#movie-option .slider {
    left: 5%;
}

#tv-option .slider {
    /* 100% - ( movie-option-left-pos + slider-width + 1 ) */
    left: 53%;
}

.toggle-left,
.toggle-right {
    display: flex;
    height: 100%;
    /* width: 50%; */
    align-items: center;
}

.toggle-button-container svg {
    height: 93%;
    fill: var(--darkNeutral);
    stroke: var(--darkNeutral);
    z-index: 10;
}

#movie-option .tv-icon svg,
#tv-option .movie-icon svg {
    fill: var(--backgroundColorDesat);
    stroke: var(--backgroundColorDesat);
}

#movie-option.toggle-button-container:hover .slider {
    /* +7 from starting position */
    left: 8%;
}

#tv-option.toggle-button-container:hover .slider {
    /* -7 from starting position */
    left: 48%;
}

/* #endregion - toggle switch */
/* #endregion - header */

/* #region - gallery */
main {
    display: flex;
    flex-direction: column;
    background: var(--backgroundColor);
    min-height: calc((100vh + 1rem) - (var(--headerHeight) + var(--headerMargin)));
    justify-content: space-between;
    margin-top: calc(var(--headerMargin) + var(--paddingGap));
    padding-top: var(--paddingGap);
}

.gallery-container {
    display: flex;
    justify-content: center;
}

.gallery-container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    column-gap: var(--paddingGap);
    row-gap: calc(var(--paddingGap) + 1rem);
    justify-content: center;
}

ul li {
    display: flex;
    position: relative;
    background: var(--lightAccent);
    flex-direction: column;
    flex: 1;
    min-width: 245px;
    width: max-content;
    max-width: min-content;
    padding: 10px;
}

li img {
    background: var(--midAccent);
}

li .placeholder-image {
    height: 75%;
}

ul li .info-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 6rem;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

    margin: 5px 0;
}

/* rating */
.rating {
    background: var(--midAccent);
    color: var(--darkNeutral);
    height: fit-content;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

.overview {
    visibility: collapse;
    background: var(--lightAccent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: inherit;
    overflow-y: scroll;
    /* overflow transition */
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

li:hover .overview,
li:active .overview,
li:focus .overview {
    display: block;
    visibility: visible;
    max-height: 420px;
    max-height: -webkit-fill-available;
    transition: max-height 0.5s ease-in;
}

/* #endregion - gallery */

/* #region - form */
.form-section {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
}

form {
    display: flex;
    position: absolute;
    top: var(--headerMargin);
    left: calc((100% - var(--wrapperWidth)) / 2);
    height: calc(100vh - (var(--headerMargin) + var(--bottomNavHeight)));
    width: var(--wrapperWidth);
    background: rgba(5, 4, 4, 0.96);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: solid 1px var(--lightAccent);
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-nav {
    display: flex;
    width: var(--formWidth);
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    border-bottom: solid 1px var(--lightAccent);
}

.form-nav a {
    color: var(--midAccent);
}

.form-nav a:hover,
a:active,
a:focus {
    color: var(--lightAccent);
}

.fieldset-container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - ((var(--headerHeight) * 2) + 65px));
    width: var(--formWidth);
    /* margin-bottom: 60px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

legend {
    color: var(--midAccent);
    scroll-margin-top: 30px;
    scroll-behavior: smooth;
}

.form-button-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.form-button-container button {
    background: var(--midAccent);
    color: var(--darkNeutral);
    width: fit-content;
    padding: 5px;
    margin-top: var(--subHeadingMargin);
    margin-bottom: 25px;
}

/* fieldset */
fieldset {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    color: var(--lightAccent);
    width: 99%;
    height: fit-content;
    justify-content: flex-start;
    margin-bottom: 10px;
    /* overflow: scroll; */
}

.providers-fieldset {
    justify-content: space-between;
}

.radio-button-container {
    display: flex;
    column-gap: 5px;
}

.genre-buttons {
    flex: 0 0 190px;
}

.decade-buttons {
    flex: 0 0 120px;
}

.provider-buttons {
    flex: 0 0 135px;
}

fieldset label {
    align-self: center;
}

input[type="radio"] {
    accent-color: var(--backgroundColor);
    margin: 10px;
}

/* x button */
.x-button {
    position: absolute;
    top: 9px;
    right: 25px;
}

.lines {
    height: 25px;
    width: 4px;
    background: var(--backgroundColor);
    border-radius: 20px;
}

.lines.a {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lines.b {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal {
    display: flex;
    background: var(--backgroundColor);
    width: var(--formWidth);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.modal p {
    color: var(--darkNeutral);
    font-size: 1rem;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 94%;
    border-top: 1px solid var(--lightAccent);
}

.dropdown-menu {
    background: var(--darkNeutral);
    height: 0.8rem;
    text-align: end;
    margin: 10px 0;
}

.dropdown-menu select {
    color: var(--midAccent);
    text-align: center;
    cursor: pointer;
}

.dropdown-menu:hover select {
    color: var(--lightAccent);
}

/* #endregion - form */

/* #region - load buttons */
.load-buttons-section {
    display: flex;
    position: sticky;
    bottom: 0;
    background: var(--backgroundColor);
    box-shadow: 0 0 3px -1px var(--darkAccent);
    height: var(--bottomNavHeight);
    align-items: center;
    /* margin-top: var(--headerMargin); */
}

.load-button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.load-button-container svg {
    fill: var(--midAccent);
    width: 50px;
}

/* #endregion - load buttons */

/* #region - footer */
footer {
    display: flex;
    height: 50px;
    width: 100%;
    background: var(--darkNeutral);
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: 3px;
    padding: 10px;
}

footer p {
    color: var(--midAccent);
}

footer .copyright {
    font-family: Arial, Helvetica, sans-serif;
}

/* #endregion - footer */

/* #region - media queries */

@media(max-width: 740px) {

    header figure h2 {
        display: none;
    }

    .header-buttons-container {
        width: 25%;
    }

    .form-button-container button {
        margin-bottom: 15px;
    }
}

@media(max-width: 565px) {

    .main-title {
        font-size: calc(1.5rem + 1vw);
    }

    .form-nav {
        align-items: flex-end;
        height: 65px;
        justify-content: space-between;
    }

    .x-button {
        top: 5px;
        right: 20px;
    }

    .x-button .lines {
        height: 20px;
        width: 3px;
    }
}


@media(max-width: 430px) {

    /* #region - variables */
    :root {
        --headerHeight: calc(10vw + 1.2rem);
    }

    /* #endregion - variables */

    .wrapper {
        width: 90%;
    }

    header h1 {
        font-size: 1.6rem;
    }

    main {
        margin-top: calc(var(--headerHeight) + 1rem);
    }

    footer p {
        font-size: 0.6rem;
    }

    /* for toggle button on portrait mobile */
    .result-heading-container {
        height: 100%;
        justify-content: space-between;
    }

    .find-movie-button svg {
        fill: var(--lightAccent);
    }

    .find-movie-button:hover svg,
    .find-movie-button:active svg,
    .find-movie-button:focus-within svg {
        fill: var(--midAccent);
    }
}

@media(max-width: 335px) {

    .main-title {
        font-size: 9vw;
    }

    .form-nav a {
        font-size: 0.8rem;
    }
}

/* Safari 11+ */

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {

        /* simulate row and column gap in safari */
        .safari_only {
            margin: calc(var(--paddingGap) / 2);
        }
    }
}

/* #endregion - media queries */