/* stops scroll bounce */
html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* #region - setup snippets */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion - setup snippets */

/* #region re-set styles */
html {
    font-size: 125%;
    background: var(--backgroundColor);
    scroll-behavior: smooth;
}

.wrapper {
    /* max-width: 1080px; */
    width: var(--wrapperWidth);
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
button,
input,
textarea,
select {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* #endregion re-set styles */

/* #region - variables */
:root {
    /* #region - colors */
    --backgroundColor: tomato;
    --backgroundColorDesat: #d18375;
    --darkNeutral: #050404;
    --darkNeutralOpacity: rgba(5, 4, 4, 0.5);
    --midAccent: #e6b86a;
    --midAccentOpacity: rgba(230, 184, 106, 0.3);
    --darkAccent: #720308;
    --darkAccentOpacity: rgba(114, 3, 8, 0.5);
    --lightAccent: #fff3e4;
    /* to be redefined */
    --eyeIconColor: var(--darkNeutral);
    --gradientBaseVar: #fff3e4;
    --gradientChangeVar: #88181e;
    --dropdownHoverColor: var(--midAccent);
    /* #endregion - colors */

    /* fonts */
    --headingFont: 'Limelight', cursive;
    --mainFont: 'Merriweather', serif;
    /* #region - sizes */
    /* main */
    --mainHeight: calc(100dvh - var(--headerMargin));
    --wrapperWidth: 80%;
    --movieWidth: 265px;
    --paddingGap: 30px;
    /* header */
    --headerHeight: calc(var(--mainHeaderFontSize) + 0.8rem);
    --subHeaderHeight: 1.5rem;
    --headerMargin: calc(var(--headerHeight) + var(--subHeaderHeight));
    --subHeadingMargin: 4px;
    --mainHeaderFontSize: 2.2rem;
    --langLabelWidth: 2.6rem;
    --searchIconWidth: 1.5rem;
    /* form */
    --formWidth: 96%;
    --formHeight: calc(100dvh - (var(--headerMargin) + var(--bottomNavHeight)));
    --formNavHeight: 2.25rem;
    --dropdownHeight: 2.2rem;
    --formBottomHeight: 5.5rem;
    --innerform: calc(var(--formNavHeight) + var(--dropdownHeight) + var(--formBottomHeight));
    --regionDropdownHeight: calc(var(--formHeight) - (var(--innerform) + var(--regionDropdownMargin)));
    --regionDropdownMargin: 5px;
    --regionDropdownWidth: 270px;
    --sortByListWidth: 55%;
    /* other */
    --bottomNavHeight: 2.55rem;
    --switchWidth: 85px;
    --providerFieldsetPadding: 4px;
    --searchInputHeight: 1.5rem;
    --searchFormContainerHeight: calc(var(--searchInputHeight) + 1rem)
    /* #endregion - sizes */
}

/* #endregion - variables */

/* #region - fonts and sizes */
.main-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}

.main-title {
    font-size: var(--mainHeaderFontSize);
    text-align: start;
    white-space: nowrap;
    color: var(--darkNeutral);
    padding: 0;
}

h1,
h3,
h4,
legend,
button,
a {
    font-family: var(--headingFont);
    word-wrap: break-word;
}

h2,
h5,
p,
input,
label,
div,
select {
    font-family: var(--mainFont);
}

h3 {
    line-height: 1.4rem;
}

a {
    font-size: 1rem;
}

p,
select {
    font-size: 0.8rem;
    line-height: 1rem;
}

/* #endregion - fonts and sizes */

.make-display-none {
    display: none !important;
}

.stop-scroll {
    overflow: hidden;
}

.disabled {
    opacity: 0.2;
}

/* #region - header */
header {
    /* display: flex; */
    background: var(--lightAccent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerMargin);
    z-index: 10;
}

.main-heading {
    height: var(--headerHeight);
}

.main-heading .heading-container {
    align-items: center;
    padding: 10px 0;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.find-movie-button figure,
.trending-button figure {
    display: flex;
    align-self: center;
}

.heading-container h2 {
    font-size: 1.2rem;
    color: var(--darkNeutral);
}

/* #region - underline animation */
.hover-animation {
    display: inline-block;
    position: relative;
    color: var(--darkAccent);
    align-self: center;
    cursor: pointer;
}

.hover-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.heading-container .hover-animation::after {
    background-color: var(--darkAccent);
}

.trending-button .hover-animation::after {
    background-color: var(--midAccent);
}

/* #endregion - underline animation */

/* #region - gradient animation */
.hover-animation {
    background: linear-gradient(to right, var(--gradientChangeVar), var(--gradientChangeVar) 50%, var(--gradientBaseVar) 50%);
    fill: linear-gradient(to right, var(--gradientChangeVar), var(--gradientChangeVar) 50%, var(--gradientBaseVar) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    /* webkit-text-fill not working in safari */
    /* -webkit-text-fill-color: transparent; */
    color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease;
    text-decoration: none;
}

.hover-animation:hover,
.hover-animation:active,
.hover-animation:focus,
.hover-animation:focus-within,
.heading-container:focus-within .hover-animation {
    background-position: 0 100%;
}

.main-title:hover {
    color: var(--darkAccent);
    cursor: pointer;
}

.heading-container .hover-animation {
    /* re-define colors */
    --gradientBaseVar: var(--darkNeutral);
    --gradientChangeVar: var(--darkAccent);
}

.trending-button .hover-animation,
.dropdown-menu .hover-animation {
    /* re-define colors */
    --gradientBaseVar: var(--midAccent);
    --gradientChangeVar: var(--lightAccent);
}

/* x button */
.form-nav .x-button:hover .lines,
.form-nav .x-button:active .lines,
.form-nav .x-button:focus .lines {
    background: var(--lightAccent);
}

.form-bottom button:hover,
.form-bottom button:active,
.form-bottom button:focus {
    background: var(--lightAccent);
    cursor: pointer;
}

input:hover,
label:hover,
input:active,
label:active,
input:focus-within,
label:focus-within {
    color: var(--midAccent);
    cursor: pointer;
}

/* #endregion - gradient animation */
li:focus {
    outline: none;
}

.header-buttons-container {
    display: flex;
    width: 50%;
    height: calc(var(--headerHeight) / 1.5);
    justify-content: flex-end;
    align-items: center;
    column-gap: 5%;
}

.find-movie-button {
    height: 100%;
    cursor: pointer;
    padding-right: 10px;
}

.find-movie-button svg {
    fill: var(--darkAccent);
    align-self: center;
    width: 1.5rem;
}

.arrow-up {
    transform: rotate(180deg);
}

.result-container {
    display: flex;
    height: var(--subHeaderHeight);
    align-items: center;
    background: var(--darkNeutral);
}

.result-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}

.trending-button .result-heading {
    color: var(--midAccent);
    align-self: center;
}

.trending-button figure svg {
    fill: var(--midAccent);
    width: 1.5rem;
    margin-left: -8px;
}

.trending-button:hover figure svg {
    fill: var(--backgroundColor);
}

/* #region - subheading dropdown */
.trending-button {
    display: flex;
    align-items: center;
    padding: 0;
}

.region-list.header-region {
    width: 55px;
    margin-left: 10px;
}

.region-list.header-region .label-container {
    display: flex;
    justify-content: space-between;
    width: var(--langLabelWidth);
    border: none;
}

.region-list.header-region .label-container:hover {
    background-color: var(--darkAccent);
} 

.region-list.header-region .select-container {
    background-color: var(--darkNeutral);
    --dropdownHoverColor: var(--darkAccent);
    top: var(--subHeaderHeight);
    right: calc(0px - var(--langLabelWidth));
    width: var(--regionDropdownWidth);
    height: calc(100dvh - (var(--headerMargin) + var(--bottomNavHeight)));
}

.region-list.header-region li {
    display: inline-flex;
    justify-content: start;
    color: var(--lightAccent);
}

.lang-code-label {
    margin-right: 1rem;
}

.empty-modal {
    position: absolute;
    top: calc((var(--headerMargin) + var(--searchFormContainerHeight)));
    left: 0;
    height: calc(100dvh - (var(--headerMargin) + var(--searchFormContainerHeight)));
    width: 100dvw;
    background-color: none;
    background-color: var(--darkNeutralOpacity);
    z-index: 0;
}

/* #region - search bar */

.search-container {
    display: flex;
    width: var(--searchIconWidth);
    justify-content: flex-end;
    cursor: pointer;
}

.input-container {
    display: flex;
    position: absolute;
    top: var(--headerMargin);
    right: 0;
    width: 100%;
    height: var(--searchFormContainerHeight);
    align-items: center;
    justify-content: center;
    background: var(--darkNeutral);
    border-top: 2px solid var(--lightAccent);
    z-index: 1;
}

.input-container input {
    --listItemWidth: 245px;
    --inputPadding: 4px;
    background: var(--lightAccent);
    color: var(--darkNeutral);
    height: var(--searchInputHeight);
    width: calc(var(--listItemWidth) + var(--inputPadding));
    padding: var(--inputPadding);
}

.input-container input::placeholder {
    color: var(--backgroundColorDesat);
    font-size: 1rem;
}

.search-container svg {
    fill: var(--lightAccent);
    width: 1.2rem;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--searchInputHeight);
    height: var(--searchInputHeight);
    background-color: var(--backgroundColor);
    padding: 2px;
    cursor: pointer;
}

.search-button svg {
    fill: var(--lightAccent);
    width: 1.2rem;
}

/* #endregion - search bar */

/* #endregion - subheading dropdown */


/* hover */
.find-movie-button:hover h2,
.find-movie-button:active h2,
.find-movie-button:focus h2 {
    color: var(--darkAccent);
}

.find-movie-button:hover svg,
.find-movie-button:active svg,
.find-movie-button:focus-within svg {
    fill: var(--backgroundColor);
}

.load-button-container button:hover svg,
button:focus svg {
    fill: var(--darkAccent);
}

.load-button-container button:active svg {
    fill: var(--darkAccentOpacity);
}

.disabled-button {
    fill: var(--midAccentOpacity) !important;
    color: var(--midAccentOpacity) !important;
    cursor: default !important;
}

.load-button-container h3 {
    text-align: center;
    color: var(--darkAccent);
}

.forward-button,
.back-button {
    cursor: pointer;
    padding: 0;
}

.load-arrow-figs {
    height: var(--bottomNavHeight);
}

.message-container {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - (var(--headerMargin) + var(--bottomNavHeight)));
    align-items: center;
    justify-content: center;
}

.message-container h3 {
    white-space: pre-wrap;
    line-height: 1.5rem;
    text-align: center;
    color: var(--darkNeutral);
}

/* toggle switch */
/* #region - toggle switch */
.toggle-state-text {
    display: flex;
    color: var(--lightAccent);
}

.toggle-button-container {
    display: flex;
    position: relative;
    min-width: var(--switchWidth);
    background-color: var(--darkNeutral);
    border-radius: 10%;
    justify-content: space-around;
    padding: 0;
    cursor: pointer;
}

.slider {
    display: flex;
    position: absolute;
    background-color: var(--backgroundColor);
    border-radius: 10%;
    width: 43%;
    height: 80%;
    top: 10%;
    z-index: 0;
    transition: left 0.5s linear;
}

#movie-option .slider {
    left: 5%;
}

#tv-option .slider {
    /* 100% - ( movie-option-left-pos + slider-width + 1 ) */
    left: 53%;
}

.toggle-left,
.toggle-right {
    display: flex;
    height: 100%;
    /* width: 50%; */
    align-items: center;
}

.toggle-button-container svg {
    height: 93%;
    /* for safari */
    height: 1.6rem;
    fill: var(--darkNeutral);
    stroke: var(--darkNeutral);
    z-index: 10;
}

#movie-option .tv-icon svg,
#tv-option .movie-icon svg {
    fill: var(--backgroundColorDesat);
    stroke: var(--backgroundColorDesat);
}

#movie-option.toggle-button-container:hover .slider {
    /* +7 from starting position */
    left: 8%;
}

#tv-option.toggle-button-container:hover .slider {
    /* -7 from starting position */
    left: 48%;
}

/* #endregion - toggle switch */
/* #endregion - header */

/* #region - gallery */
main {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--headerMargin);
    left: 0;
    background: var(--backgroundColor);
    height: var(--mainHeight);
    width: 100%;
    justify-content: space-between;
    overflow: scroll;
    /* hide scrollbar styles*/
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
/* hide scrollbar styles*/
.main::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.main-wrapper {
    position: absolute;
    top: 0;
    left: calc((100% - var(--wrapperWidth)) / 2);
}

.gallery-container {
    display: flex;
    justify-content: center;
    padding: 3dvh 0;
    margin-bottom: var(--bottomNavHeight);
}

/* all gallery uls */
.gallery-container ul {
    display: flex;
    flex-wrap: wrap;
}

/* only gallery cards */
.gallery-container .gallery-list-container {
    flex-direction: row;
    width: 100%;
    column-gap: var(--paddingGap);
    row-gap: calc(var(--paddingGap) + 1rem);
    justify-content: center;
}

.gallery-items {
    display: flex;
    position: relative;
    background: var(--lightAccent);
    flex-direction: column;
    flex: 1;
    min-width: 245px;
    width: max-content;
    max-width: min-content;
    padding: 10px;
}

li img {
    background: var(--midAccent);
}

li .placeholder-image {
    height: 75%;
}

ul li .info-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 6rem;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin: 5px 0;
}

/* rating */
.rating {
    background: var(--midAccent);
    color: var(--darkNeutral);
    height: fit-content;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

.overview {
    visibility: collapse;
    background: var(--lightAccent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    padding: inherit;
    overflow-y: scroll;
    /* overflow transition */
    max-height: 0;
    transition: max-height 0.5s ease-out;

}

.movie-info {
    display: block;
    height: inherit;
    width: inherit;
}

.watch-providers {
    background: var(--lightAccent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: inherit;
    overflow-y: scroll;
    /* overflow transition */
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.overview .heading-container {
    align-items: flex-start;
    background-color: var(--midAccent);
    margin-bottom: 12px;
    padding: 8px 4px;
}

.overview .heading-container h4 {
    width: 80%;
}

.overview p {
    margin: 4px;
}

.eye-icon {
    position: relative;
    width: 15%;
}

.eye-icon svg {
    position: absolute;
    top: -5px;
    width: 30px;
    height: auto;
    background: none;
}

.eye-icon svg,
.eye-icon svg circle {
    fill: var(--eyeIconColor);
}

.overview .heading-container:hover,
.overview .heading-container:active,
.overview .heading-container:focus {
    --eyeIconColor: var(--lightAccent);
    cursor: pointer;
}

li:hover .overview,
li:active .overview,
li:focus .overview {
    display: block;
    visibility: visible;
    max-height: -webkit-fill-available;
    height: inherit;
    /* max-height: -webkit-fill-available; */
    transition: max-height 0.5s ease-in;
}

/* #region - where-to-watch */
.wheretowatch-container {
    background: var(--darkNeutral);
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

.wheretowatch-heading {
    background-color: var(--midAccent);
    color: var(--darkNeutral);
    padding: 3px 5px;
    margin-bottom: 10px;
}

.viewing-options-list-container {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.viewing-options-list-container li {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px 0 0;
}

.provider-options-list-container {
    justify-content: center;
}

.provider-list-fieldsets {
    justify-content: center;
    margin: 5px calc(var(--providerFieldsetPadding) / 2);
    padding: var(--providerFieldsetPadding);
}

.provider-list-fieldsets h4 {
    color: var(--backgroundColor);
}

.provider-icons {
    width: 2rem;
    border: solid var(--lightAccent) 1px;
}

.icon-message-container,
.error-message-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-message-container {
    height: 6rem;
}

.dropdown-menu .error-message-container {
    height: -webkit-fill-available;
}

.icon-message-container h4,
.error-message-container h4 {
    width: 80%;
    color: var(--backgroundColor);
}

/* #endregion - where-to-watch */

/* #endregion - gallery */

/* #region - form */
.form-section {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
}

.form-container {
    display: flex;
    position: absolute;
    top: var(--headerMargin);
    left: calc((100% - var(--wrapperWidth)) / 2);
    height: var(--formHeight);
    width: var(--wrapperWidth);
    background: rgba(5, 4, 4, 0.96);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-bottom: var(--formBottomHeight);
    border-top: solid 1px var(--lightAccent);
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-nav {
    display: flex;
    width: var(--formWidth);
    justify-content: space-evenly;
    align-items: center;
    height: var(--formNavHeight);
    border-bottom: solid 1px var(--lightAccent);
}

.form-nav a {
    color: var(--midAccent);
}

.form-nav a:hover,
a:active,
a:focus {
    color: var(--lightAccent);
}

.fieldset-container {
    /* display was inline-block for some reason */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--formHeight) - (var(--formBottomHeight) + var(--formNavHeight) + var(--dropdownHeight)));
    width: var(--formWidth);
    border-top: 1px solid var(--lightAccent);
    padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

legend {
    color: var(--midAccent);
    scroll-margin-top: 30px;
    scroll-behavior: smooth;
}

.form-button-container {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.form-button-container button {
    background: var(--midAccent);
    color: var(--darkNeutral);
    width: fit-content;
    padding: 5px;
    margin-top: var(--subHeadingMargin);
    margin-bottom: 20px;
}

/* fieldset */
fieldset {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    color: var(--lightAccent);
    width: 99%;
    flex: 1 1 30%;
    justify-content: flex-start;
    margin-bottom: 10px;
    /* overflow: scroll; */
}

.providers-fieldset {
    justify-content: space-between;
}

.radio-button-container {
    display: flex;
    column-gap: 5px;
}

.genre-buttons {
    flex: 0 0 190px;
}

.decade-buttons {
    flex: 0 0 120px;
}

.provider-buttons {
    flex: 0 0 135px;
}

fieldset label {
    align-self: center;
}

input[type="radio"] {
    accent-color: var(--backgroundColor);
    margin: 10px;
}

/* x button */
.x-button {
    position: absolute;
    top: 0.8%;
    right: 3%;
}

.lines {
    height: 25px;
    width: 4px;
    background: var(--backgroundColor);
    border-radius: 20px;
}

.lines.a {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lines.b {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal {
    display: flex;
    background: var(--backgroundColor);
    width: var(--formWidth);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.modal p {
    color: var(--darkNeutral);
    font-size: 1rem;
}

.form-bottom {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0;
    left: calc((100% - var(--formWidth)) / 2);
    height: var(--formBottomHeight);
    width: var(--formWidth);
    align-items: center;
    justify-content: space-around;
    background-color: var(--darkNeutral);
    border-top: 1px solid var(--lightAccent);
    /* padding: 5px 0; */
}

/* #region - dropdown menus */
/* #region - outer label */

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background: var(--darkNeutral);
    height: var(--dropdownHeight);
    width: var(--formWidth);
    justify-content: center;
}

.dropdown-menu.header-region {
    --dropdownHeight: var(--subHeaderHeight);
}

.dropdown-menu.region-list {
    align-items: center;
    margin: 0 auto;
}

.dropdown-menu.region-list.header-region {
    position: absolute;
    right: calc(((100% - var(--wrapperWidth)) / 2) + var(--searchIconWidth));
    margin: 2px;
}

.dropdown-menu.sort-by {
    align-items: flex-end;
    margin: 5px 0;
}

.dropdown-menu .label-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 3px;
    border: solid 1px var(--lightAccent);
    color: var(--lightAccent);
    padding-right: 1rem;
}

/* region dropdown in form */
.dropdown-menu.form-region .label-container {
    width: var(--regionDropdownWidth);
    justify-content: center;
}

.dropdown-menu.sort-by .label-container {
    width: var(--sortByListWidth);
}

/* #region - dropdown arrows */

.label-container::before,
.label-container::after {
    --size: 0.3rem;
    display: flex;
    position: absolute;
    content: "";
    width: var(--size);
    right: var(--size);
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    pointer-events: none;
}

.label-container::before {
    border-bottom: var(--size) solid var(--backgroundColor);
    top: 20%;
}

.label-container::after {
    border-top: var(--size) solid var(--backgroundColor);
    bottom: 20%;
}

/* #endregion - dropdown arrows */
/* #endregion - outer label */
/* #region - main list */
.select-container {
    position: absolute;
    background-color: var(--lightAccent);
    padding: 10px;
    overscroll-behavior: none;
}

.select-container ul li {
    margin-bottom: 2px;
    padding: 3px;
}

.region-list.form-region .select-container {
    top: calc(var(--formNavHeight) + var(--dropdownHeight) + var(--regionDropdownMargin));
    height: var(--regionDropdownHeight);
}

/* list */
.dropdown-menu .select {
    display: flex;
    flex-direction: column;
    color: var(--darkNeutral);
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
}

.region-list .select-container.visible {
    overflow: scroll;
}

.sort-by .select-container.visible {
    position: absolute;
    bottom: var(--formBottomHeight);
    right: 3%;
    height: fit-content;
    width: var(--sortByListWidth);
}

.region-list .select-container.hidden,
.sort-by .select-container.hidden,
.overview .hidden,
.hidden {
    display: none;
}

.dropdown-menu .select li:hover {
    background-color: var(--dropdownHoverColor);
}

/* #endregion - main list */
/* #endregion - dropdown menus */
/* #endregion - form */

/* #region - load buttons */
.load-buttons-section {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--backgroundColor);
    box-shadow: 0 0 3px -1px var(--darkAccent);
    height: var(--bottomNavHeight);
    width: 100%;
    align-items: center;
}

.load-button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.load-button-container svg {
    fill: var(--midAccent);
    width: 50px;
}
/* #endregion - load buttons */

/* #region - media queries */

@media(max-width: 740px) {

    header figure h2 {
        display: none;
    }

    .header-buttons-container {
        width: 25%;
    }

    .form-button-container button {
        margin-bottom: 15px;
    }
}

@media(max-width: 565px) {

    :root {
        --mainHeaderFontSize: calc(1.3rem + 1vw);
    }

    .form-nav {
        align-items: flex-end;
        height: 65px;
        justify-content: space-between;
    }

    .x-button .lines {
        height: 20px;
        width: 3px;
    }

    .dropdown-menu.sort-by {
        align-items: center;
        --sortByListWidth: 100%;
    }
}


@media(max-width: 430px) {

    /* #region - variables */
    :root {
        --headerHeight: calc(var(--mainHeaderFontSize) * 2.35);
    }
    /* #endregion - variables */

    .main-title {
        width: calc(var(--mainHeaderFontSize) * 3.5);
        white-space: wrap;
        line-height: var(--mainHeaderFontSize);
    }

    .wrapper {
        --wrapperWidth: 90%;
    }

    header h1 {
        font-size: 1.6rem;
    }
    /* for when region moves next to x-button on mobile */
    .region-list.form-region {
        position: absolute;
        top: 0.5%;
        left: 3%;
        margin: 0;
    }

    .region-list.form-region .label-container {
        width: 90px;
    }

    /* for header region list */
    .region-list.header-region .select-container {
        margin: 0;
    }

    .find-movie-button {
        display: flex;
        width: 17%;
        justify-content: flex-end;
        align-self: end;
        padding: 0;
    }

    /* for toggle button on portrait mobile */
    .result-heading-container {
        height: 100%;
        justify-content: space-between;
    }
}

@media(max-width: 335px) {

    .form-nav a {
        font-size: 0.8rem;
    }
}

/* Safari 11+ */

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {

        /* simulate row and column gap in safari */
        li.safari-only {
            margin: calc(var(--paddingGap) / 2);
        }

        .dropdown-menu span.safari-only {
            border: none;
        }

        /* for form because fit-content doen't work befor v15 */

        fieldset {
            overflow: scroll;
        }

        .genre-fieldset {
            min-height: 12rem;
        }

        .decade-fieldset {
            min-height: 8rem;
        }

        .providers-fieldset {
            min-height: 6rem;
        }
    }
}

/* #endregion - media queries */