/* #region - setup snippets */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #endregion - setup snippets */

/* #region re-set styles */
html {
    font-size: 125%;
    background: var(--backgroundColor);
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
button,
input,
textarea,
select {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* #endregion re-set styles */

/* #region - variables */
:root {
    /* colors */
    --backgroundColor: tomato;
    --darkNeutral: #050404;
    --midAccent: #e6b86a;
    --midAccentOpacity: rgba(230, 184, 106, 0.3);
    --darkAccent: #720308;
    --lightAccent: #fff3e4;

    /* to be redfined */
    --gradientBaseVar: #fff3e4;
    --gradientChangeVar: #88181e;

    /* fonts */
    --headingFont: 'Limelight', cursive;
    --mainFont: 'Merriweather', serif;
    /* sizes */
    --movieWidth: 265px;
    --headerHeight: 69px;
    --headerMargin: calc(var(--headerHeight) + var(--subHeaderHeight));
    --subHeaderHeight: 30px;
    --paddingGap: 30px;
    --formWidth: 95%;
    --subHeadingMargin: 8px;
}

/* #endregion - variables */

/* #region - fonts and sizes */
h1 {
    font-size: 2.2rem;
}

h1,
h3,
h4,
legend,
button,
a {
    font-family: var(--headingFont);
}

h2,
p,
input,
label,
div,
select {
    font-family: var(--mainFont);
}

h3 {
    line-height: 1.4rem;
}

a {
    font-size: 1rem;
}

p,
select {
    font-size: 0.8rem;
    line-height: 1rem;
}

/* #endregion - fonts and sizes */

.make-display-none {
    display: none !important;
}

.stop-scroll {
    overflow: hidden;
}

.disabled {
    opacity: 0.2;
}

/* #region - header */
header {
    /* display: flex; */
    background: var(--lightAccent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--headerHeight);
    padding: 10px 0;
    z-index: 10;
}

.heading-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading-container figure,
.result-heading-container figure {
    display: flex;
    align-self: center;
}

.heading-container h2 {
    font-size: 1.2rem;
    color: var(--darkNeutral);
}

/* #region - underline animation */
.hover-animation {
    display: inline-block;
    position: relative;
    color: var(--darkAccent);
    align-self: center;
}

.hover-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.heading-container .hover-animation::after {
    background-color: var(--darkAccent);
}

.sort-menu .hover-animation::after,
.result-heading-container .hover-animation::after {
    background-color: var(--midAccent);
}

/* #endregion - underline animation */

/* #region - gradient animation */
.hover-animation {
    background: linear-gradient(to right, var(--gradientChangeVar), var(--gradientChangeVar) 50%, var(--gradientBaseVar) 50%);
    fill: linear-gradient(to right, var(--gradientChangeVar), var(--gradientChangeVar) 50%, var(--gradientBaseVar) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease;
    text-decoration: none;
}

.hover-animation:hover,
.hover-animation:active,
.hover-animation:focus,
.hover-animation:focus-within {
    background-position: 0 100%;
}

.heading-container .hover-animation {
    /* re-define colors */
    --gradientBaseVar: var(--darkNeutral);
    --gradientChangeVar: var(--darkAccent);
}

.result-heading-container .hover-animation,
.sort-menu .hover-animation {
    /* re-define colors */
    --gradientBaseVar: var(--midAccent);
    --gradientChangeVar: var(--lightAccent);
}

.form-button-container button:hover,
.form-button-container button:active,
.form-botton-container button:focus-within {
    background: var(--lightAccent);
}

.radioButtonContainer:hover,
.radioButtonContainer:active,
.radioButtonContainer:focus-within {
    color: var(--midAccent);
}

/* #endregion - gradient animation */

.heading-container svg {
    fill: var(--darkAccent);
    align-self: center;
    width: 1.5rem;
}

.arrow-up {
    transform: rotate(180deg);
}

.result-container {
    display: flex;
    height: var(--subHeaderHeight);
    align-items: center;
    background: var(--darkNeutral);
    margin-top: var(--subHeadingMargin);
}

.result-heading-container {
    display: flex;

    justify-content: flex-end;
    padding: 3px 0;
}

.result-heading-container .result-heading {
    color: var(--midAccent);
    align-self: center;
}

.result-heading-container figure svg {
    fill: var(--midAccent);
    width: 1.5rem;
}


/* hover */
.heading-container:hover h2,
.heading-container:active h2,
.heading-container:focus-within h2 {
    color: var(--darkAccent);
}

.heading-container:hover svg,
.heading-container:active svg,
.heading-container:focus-within svg {
    fill: var(--backgroundColor);
}

.load-button-container figure:hover svg,
figure:active svg,
figure:focus svg {
    fill: var(--darkAccent);
}

.disabled-button {
    fill: var(--midAccentOpacity) !important;
    color: var(--midAccentOpacity) !important;
}

.load-button-container h3 {
    text-align: center;
    color: var(--darkAccent);
}

.message-container {
    display: flex;
    height: calc(100vh - ((var(--headerHeight) * 2) + var(--headerMargin)));
    width: 100%;
    align-items: center;
    justify-content: center;
}

.message-container h3 {
    color: var(--darkNeutral);
}

/* #endregion - header */

/* #region - gallery */
main {
    background: var(--backgroundColor);
    min-height: calc((100vh + 1rem) - (var(--headerHeight) + var(--headerMargin)));
    margin-top: var(--headerMargin);
    padding-top: var(--paddingGap);
}

.gallery-container {
    display: flex;
    justify-content: center;
}

.gallery-container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    column-gap: var(--paddingGap);
    row-gap: calc(var(--paddingGap) + 1rem);
    justify-content: center;
}

ul li {
    display: flex;
    position: relative;
    background: var(--lightAccent);
    flex-direction: column;
    flex: 1;
    min-width: 245px;
    width: max-content;
    max-width: min-content;
    padding: 10px;
}

li img {
    background: var(--midAccent);
}

li .placeholder-image {
    height: 75%;
}

ul li .info-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 6rem;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;

    margin: 5px 0;
}

/* rating */
.rating {
    background: var(--midAccent);
    color: var(--darkNeutral);
    height: fit-content;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

.overview {
    visibility: collapse;
    background: var(--lightAccent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    padding: inherit;
    overflow-y: scroll;
    /* overflow transition */
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

li:hover .overview,
li:active .overview,
li:focus .overview {
    display: block;
    visibility: visible;
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

/* #endregion - gallery */

/* #region - form */
.form-section {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
}

form {
    display: flex;
    position: relative;
    background: rgba(5, 4, 4, 0.96);
    width: 100%;
    height: calc(100vh - (var(--headerHeight) * 2) - 1rem);
    max-height: calc(100vh - (var(--headerHeight) + var(--headerMargin) - 1rem));
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--headerMargin) - 1px);
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-nav {
    display: flex;
    width: var(--formWidth);
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
    border-bottom: solid 1px var(--lightAccent);
}

.form-nav a {
    color: var(--midAccent);
}

.form-nav a:hover,
a:active,
a:focus {
    color: var(--lightAccent);
}

.fieldset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - ((var(--headerHeight) * 2) + 65px));
    width: var(--formWidth);
    /* margin-bottom: 60px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

legend {
    color: var(--midAccent);
    scroll-margin-top: 30px;
    scroll-behavior: smooth;
}

.form-button-container {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.form-button-container button {
    background: var(--midAccent);
    color: var(--darkNeutral);
    width: fit-content;
    padding: 5px;
    margin: var(--subHeadingMargin);
}

/* fieldset */
fieldset {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    color: var(--lightAccent);
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    margin-bottom: 10px;
    /* overflow: scroll; */
}

.providers-fieldset {
    justify-content: space-between;
}

.radioButtonContainer {
    display: flex;
    column-gap: 5px;
}

.genreButtons {
    flex: 0 0 175px;
}

.decadeButtons {
    flex: 0 0 120px;
}

fieldset label {
    align-self: center;
}

input[type="radio"] {
    accent-color: var(--backgroundColor);
    margin: 10px;
}

/* x button */
.x-div-container {
    position: absolute;
    top: 3px;
    right: 30px;
}

.lines {
    height: 25px;
    width: 4px;
    background: var(--backgroundColor);
    border-radius: 20px;
}

.lines.a {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lines.b {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal {
    display: flex;
    background: var(--backgroundColor);
    width: var(--formWidth);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.modal p {
    color: var(--darkNeutral);
    font-size: 1rem;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 95%;
    border-top: 1px solid var(--lightAccent);
}

.sort-menu {
    background: var(--darkNeutral);
    height: 0.8rem;
    text-align: end;
    margin: 10px 0;
}

.sort-menu select {
    color: var(--midAccent);
    text-align: center;
}

/* #endregion - form */

/* #region - load buttons */
.load-buttons-section {
    display: flex;
    position: sticky;
    bottom: 0;
    background: var(--backgroundColor);
    box-shadow: 0 0 3px -1px var(--darkAccent);
    height: 50px;
    align-items: center;
    margin-top: var(--headerMargin);
}

.load-button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.load-button-container svg {
    fill: var(--midAccent);
    width: 50px;
}

/* #endregion - load buttons */

/* #region - footer */
footer {
    display: flex;
    height: 50px;
    width: 100%;
    background: var(--darkNeutral);
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: 3px;
    padding: 10px;
}

footer p {
    color: var(--midAccent);
}

footer .copyright {
    font-family: Arial, Helvetica, sans-serif;
}

/* #endregion - footer */

/* #region - media queries */

@media(max-width: 635px) {
    header figure h2 {
        display: none;
    }
}

@media(max-width: 565px) {

    .form-nav {
        align-items: flex-end;
        height: 55px;
        justify-content: space-between;
    }

    .x-div-container {
        right: 20px;
    }

    .x-div-container .lines {
        height: 20px;
        width: 3px;
    }
}


@media(max-width: 430px) {

    /* #region - variables */
    :root {
        --headerHeight: calc(10vw + 1.5rem);
    }

    /* #endregion - variables */

    .wrapper {
        width: 90%;
    }

    header h1 {
        font-size: 10vw;
    }

    .result-heading-container {
        justify-content: center;
    }

    main {
        margin-top: calc(var(--headerHeight) + 1rem);
    }

    form {
        margin-top: calc(var(--headerMargin) - var(--subHeadingMargin));
    }

    footer p {
        font-size: 0.6rem;
    }
}

@media(max-width: 335px) {
    .form-nav a {
        font-size: 0.8rem;
    }
}

/* #endregion - media queries */